* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 0.875rem;
  line-height: 1.66;
  font-weight: 400;
  position: relative;
}
@media screen and (min-width: 50rem) {
  body {
    font-size: 1rem;
    line-height: 1.66;
  }
}
@media screen and (min-width: 60rem) {
  body {
    font-size: 1.125rem;
    line-height: 1.66;
  }
}
body main,
body header,
body footer {
  color: #fff;
}

/* About section css */
.about {
  padding: 80px;
}
@media screen and (max-width: 599px) {
  .about {
    padding: 0px;
  }
}
.bg-color {
  background: #ff8000;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 35.5rem;
  height: 80vh;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.choose-design {
  margin: 0 auto;
  max-width: 84%; 
}

.about h2 {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.1;
  width: 100%;
  font-weight: 100;
  padding: 1rem 0;
}
[lang="ta"] .about h2 {
  word-break: break-word;
}
@media screen and (min-width: 37.5rem) {
  .about h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 50rem) {
  .about h2 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 60rem) {
  .about h2 {
    font-size: 2.75rem;
  }
}
.about p {
  color: #fff;
  font-size: 1rem;
  width: 100%;
}
@media screen and (min-width: 60rem) {
  .about p {
    font-size: 1.125rem;
  }
}

.about .background { 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.design1 {
  transform: translate3d(20%, -15%, 0) !important;
  transition-duration: 0.7s;
  transition-delay: 0.2s;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 96.25rem;
}
@media screen and (min-width: 37.5rem) {
  .design1 {
    width: 100%;
  }
}
.active .background--layer.design1 {
  transform: translate3d(16%, 20%, 0);
}
.design2 {
  transform: translate3d(30%, -100%, 0) !important;
  transition-duration: 0.9s;
  transition-delay: 0.1s;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 50rem;
}
@media screen and (min-width: 37.5rem) {
  .design2 {
    width: 100%;
  }
}
.active .background--layer.design2 {
  -webkit-transform: translate3d(25%, 40%, 0);
  -moz-transform: translate3d(25%, 40%, 0);
  -ms-transform: translate3d(25%, 40%, 0);
  -o-transform: translate3d(25%, 40%, 0);
  transform: translate3d(25%, 40%, 0);
}
/* Free Domain Section */
.free-domain {
  background: #bc382e;
}
.free_dom {
  display: block;
  position: relative;
  width: 100%;
  z-index: 2;
  max-width: 80%;
  color: #fff;
  margin: 0 auto;
}
.main_domain {
  width: 45%;
}
.w-70 {
  width: 70%;
}

/************************ Earn Money *************************/
.earn-money {
  background: #388d80;
}
@media screen and (min-width: 37.5rem) {
  .earn-money {
    padding-bottom: 10rem;
  }
}
@media screen and (min-width: 60rem) {
  .earn-money {
    padding-bottom: 0;
  }
} 
.earn {
  padding: 80px 0;
}
@media screen and (min-width: 37.5rem) {
  .earn-money .background {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.mt-5 {
  margin-top: 6rem;
}
.earntitle {
  font-size: 2.75rem;
  padding: 10px 0;
  font-weight: 500;
}
 
@media screen and (min-width: 37.5rem) {
  .earn-money h2 {
    margin-right: 6vw;
  }
}
@media screen and (min-width: 60rem) {
  .earn-money h2 {
    margin-right: 2vw;
  }
}
@media screen and (min-width: 75rem) {
  .earn-money h2 {
    margin-right: 10vw;
  }
}
.earn-money p {
  color: #fff;
  font-size: 1rem;
  width: 100%;
}
@media screen and (min-width: 60rem) {
  .earn-money p {
    font-size: 1.125rem;
    font-weight: 500;
  }
}
.background--layer {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.background .device {
  display: block;
  max-height: 100%;
  max-width: 100%;
}
.background .device {
  transform: translate3d(-10%, 0, 0);
  transition-duration: 0.8s;
  transition-delay: 0;
  position: relative;
  display: none;
}
@media screen and (min-width: 37.5rem) {
  .background .device {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}

.calculator {
  transform: translate3d(0, 57%, 0);
  transition-duration: 1s;
  transition-delay: 0.2s;
  width: 13.125rem;
  right: 24%;
  bottom: -16%;
}
@media screen and (min-width: 37.5rem) {
  .calculator {
    right: 1%;
    bottom: -25%;
    width: 11.25rem;
  }
}
@media screen and (min-width: 60rem) {
  .calculator {
    right: -1%;
    bottom: -15%;
    width: 17.5rem;
  }
}

@media screen and (max-width: 599px) {
  .ml {
    margin-left: 0 !important;
    margin-bottom: 50px;
  }
}

.herocard {
  transform: translate3d(20%, 66%, 0);
  transition-duration: 0.9s;
  transition-delay: 0.1s;
  width: 11.875rem;
  right: 60%;
  bottom: -4%;
}
@media screen and (min-width: 37.5rem) {
  .herocard {
    right: 16%;
    width: 9.0625rem;
    bottom: -10%;
  }
}
@media screen and (min-width: 60rem) {
  .herocard {
    right: 14%;
    width: 16.25rem;
    bottom: -9%;
  }
}
.cent {
  transform: translate3d(-125%, 30%, 0);
  transition-duration: 0.8s;
  transition-delay: 0;
  width: 4.375rem;
  right: 15%;
  bottom: 25%;
}
@media screen and (min-width: 37.5rem) {
  .cent {
    width: 3.4375rem;
    right: 2%;
    bottom: 28%;
  }
}
@media screen and (min-width: 60rem) {
  .cent {
    right: 1%;
    bottom: 27%;
    width: 4.6875rem;
  }
}

/*************** know-your-audience ******************/
.audience {
  background: #577783;
}
.audience .background .infomap {
  position: inherit;
  width: 100%;
}
@media screen and (min-width: 37.5rem) {
  .audience .background .infomap {
    position: relative;
    width: 100%;
    right: inherit;
    margin-top: 0;
  }
}
.audience .background .graphs {
  transition-delay: 0.2s;
  width: 52%;
  margin-top: 17.5rem;
  margin-right: -13%;
  float: left;
}
@media screen and (min-width: 37.5rem) {
  .audience .background .graphs {
    width: 60%;
    margin-top: 2%;
    margin-right: -60%;
    float: right;
  }
}

.chart1 {
  transition-delay: 0.4s;
  width: 100%;
  margin-right: -41%;
  display: none;
}
@media screen and (min-width: 37.5rem) {
  .chart1 {
    display: block;
    margin-top: -5px;
  }
} 
.chart2 {
  transition-delay: 0.2s;
  width: 52%;
  margin-top: 17.5rem;
  margin-right: -13%;
  float: left;
}
@media screen and (min-width: 37.5rem) {
  .chart2 {
    width: 86.7%;
    margin-top: -36%;
    margin-right: -84%;
    float: right;
  }
}

/*************** start Hang onto your memories *********************/
.memories {
  background-color: #bc382e;
}
.documents {
  transform: translate3d(8%, -53%, 0) rotate(12deg);
  transition-duration: 1s;
  width: 46%;
  right: 53%;
  bottom: -6%;
} 
.photos {
  transform: translate3d(-20%, 27%, 0) rotate(16deg);
  transition-duration: 1s;
  width: 53%;
} 
.video {
  transform: translate3d(152%, 45%, 0) rotate(16deg);
  transition-duration: 1s;
  width: 40%;
}

@media screen and (min-width: 37.5rem) {
  .photos {
    transform: translate3d(20%, -104%, 0) rotate(8deg);
    width: 65%;
    right: 13%;
    top: 14%;
    left: initial;
    bottom: initial;
  }
} 
@media screen and (min-width: 37.5rem) {
  .documents {
    transform: translate3d(-13%, -195%, 0) rotate(6deg);
    width: 51%;
    right: 24%;
    top: 34%;
  }
}

@media screen and (min-width: 37.5rem) {
  .video {
    transform: translate3d(106%, 22%, 0) rotate(5deg);
    width: 55%;
    right: 1%;
    top: 20%;
    left: initial;
    bottom: initial;
  }
}

/************** Footer CSS ************/
.footer-bg {
  background-color: #1d2b34;
}

footer ul li a {
  color: #cbd1d3;
  text-decoration: none;
}
footer ul li a:hover {
  color: #fff;
  text-decoration: none;
}
.vr {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
@media screen and (max-width: 599px) {
  .vr {
    display: none;
  }
}
section h5 {
  color: #cbd1d3;
  text-decoration: none;
}
section h5:hover {
  color: #fff;
  text-decoration: none;
}

/* LATTER GROUP CSS */
.lettergroup1 {
  transform: translateX(4%);
  transition-duration: 1.4s;
  width: 135%;
  right: -49%;
  bottom: 7%;
}
@media screen and (min-width: 37.5rem) {
  .lettergroup1 {
    width: 150%;
    right: -15%;
    top: 40%;
  }
}
.lettergroup2 {
  transform: translate3d(35%, -49%, 0); 
  transition-duration: 0.7s;
  transition-delay: 0.2s;
  width: 82%;
  right: -22%;
  bottom: -11%;
}
@media screen and (min-width: 37.5rem) {
  .lettergroup2 {
    width: 93%;
    right: -3%;
    top: 47%;
  }
}
.lettergroup3 {
  transform: translate3d(139%, -150%, 0); 
  transition-duration: 0.7s;
  transition-delay: 0.3s;
  width: 47%;
  right: -25%;
  bottom: 15%;
}
@media screen and (min-width: 37.5rem) {
  .lettergroup3 {
    width: 50%;
    right: -2%;
    top: 29%;
  }
}
.lettergroup4 {
  transition-duration: 0.7s;
  transition-delay: 0.4s;
  width: 13%;
  right: -10%;
  top: 15%;
  display: none;
}
@media screen and (min-width: 37.5rem) {
  .lettergroup4 {
    display: block;
  }
}
